<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span><% msg %></span>
    <form action="/index" method="POST" style="
        width: 400px;
        height: 300px;
        background-color: lightgrey;
        margin: auto;
        position: relative;
        top: 150px;
    ">
        <div style="
            position: relative;
            top: 85px;
            left: 105px;
        ">
            <label>username</label><br>
            <input type="text" name="username"><br>
            <label>password</label><br>
            <input type="password" name="preference"><br>
            <input type="submit" value="submit"><br>
        </div>
    </form>
</body>
</html>